/* MAIN LAYOUT DIVS
--------------------------------------------------------- */
#ja-wrapper {
	background: #F2F2F2;
}

#ja-containerwrap {
	background: url(../img/cw-bg1.gif) repeat-y 50% 0;
}

#ja-containerwrap2 {
	background: url(../img/cw-bg2.gif) no-repeat 50% 0;
}

#ja-container {
	background: url(../img/c-bg1.gif) repeat-y 18% 0;
}

#ja-container2 {
	padding: 20px 0;
	background: url(../img/c-bg2.gif) no-repeat 18% 0;
}

/* Full right */
#ja-containerwrap-fr {
	background: url(../img/cw-bg1.gif) repeat-y 50% 0;
}

#ja-containerwrap-fr #ja-containerwrap2 {
	background: url(../img/cw-bg2.gif) no-repeat 50% 0;
}

/* JOOMLA STYLE
--------------------------------------------------------- */

ul.menu li.active a {
	background-color: #ECECEC;
}

ul.menu li a:hover,
ul.menu li a:active,
ul.menu li a:focus {
	background-color: #F6F6F6;
}
