div.footer {
	background-color: #f8f9fa;
}

div.footer a {
	font-family: arial, sans-serif;
	text-decoration: none;
}

div.more {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

div.links {
	margin: 2em;
	display: flex;
	flex-direction: column;
}

div.links > * {
	margin: 0.5em;
}

div.branding {
	width: 100%;
	text-align: center;
	display: block;
}

div.branding div {
	display: block;
}

div.branding div a img {
	width: 5em;
}

@media (max-width: 600px) {

	div.more {
		text-align: center;
	}

	div.links {
		margin-bottom: 0;
	}

	div.branding {
		margin-top: 1em;
	}
}
