div.form p {
    margin: auto;
    text-align: center;
    padding: 1em 1em 1em 0;
    max-width: 50em;
    font-family: arial, sans-serif;
    font-size: 125%;
}

div.fields {
    max-width: 35em;
    margin: auto;
    padding: 0 1em;
}

div.formfield label {
    font-weight: bold;
    font-size: 90%;
    display: block;
}

div.formfield input, div.formfield textarea {
    width: 100%;
    border-radius: 4px;
    background-color: #EBEDF0;
    font-size: 150%;
    margin-bottom: 1em;
    padding: 5px;
}

div.formfield input:focus, div.formfield textarea:focus {
    background-color: #F5F7FA;
}

div.form button {
    text-align: center;
    background-color: #695A5F;
    border-radius: 4px;
    font-weight: bolder;
    font-size: 175%;
    font-family: arial, sans-serif;
    padding: 10px 16px;
    display: block;
    margin: auto;
}

div.form button:hover {
    background-color: #5F5055;
}
