body {
    margin: 0;
    padding: 0;
}

div.block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: navy;
}

div.block .block-box {
	/*width: 450px;*/
	margin: 20px;
	padding: 20px;
	text-align: center;
}

.block-box .highlight {
	background-color: #ffffff;
	padding: 10px;
	margin: 10px;
	width: 450px;
}

.block-box img {
	padding: 10px;
	width: 300px;
}

div.highlight h1 {
	font-size: 3em;
	margin: 5px;
	padding: 5px;
}

div.highlight h2 {
	font-size: 2.5em;
	margin: 5px;
	padding: 5px;
}

div.highlight h3 {
	font-size: 1.5em;
	margin: 5px;
	padding: 5px;
}

@media screen and (max-width: 600px) {

}
