body {
    margin: 0;
    padding: 0;
}

div.block {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: navy;
}

div.block:nth-child(odd) {
	background-color: bisque;
}

div.block .block-box {
	margin: 20px;
	padding: 20px;
	text-align: center;
}

.block-box .highlight {
	background-color: #ffffff;
	padding: 10px;
	margin: 10px;
	max-width: 450px;
}

.block-box img {
	padding: 10px;
	max-width: 300px;
}

div.highlight h1 {
	font-size: 3em;
	margin: 5px;
	padding: 5px;
}

div.highlight h2 {
	font-size: 2.5em;
	margin: 5px;
	padding: 5px;
}

div.highlight h3 {
	font-size: 1.5em;
	margin: 5px;
	padding: 5px;
}

/*
Make sure the text and images are int the appropriate order:
Text and image are opposite every other block on large displays.
Text is always first on small displays.
*/
@media (max-width: 600px) {
	.text-highlight {
		order: 1;
	}

	.img-highlight {
		order: 2;
	}
}
