{% extends 'enterprises/base.html' %}
{% load static %}

{% block title %}About Evan{% endblock title %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css" />
{% endblock %}

{% block content %}
  <div class="block">
    <div class="block-box img-highlight">
      <img src="{% static 'img/headshot.jpg' %}" alt="Evan Duke's headshot.">
    </div>
    <div class="block-box text-highlight">
      <div class="highlight">
        <h1>Evan Duke</h1>
        <h3>Independent Business and Non-Profit Consultant</h3>
        <h3>Owner and President of Evan Duke Enterprises</h3>
      </div>
    </div>

  </div>

  <div class="paragraph">
    <p>
      Evan Duke, D.M.A., has taken an unusual path. While working on his Doctoral Degree (Trumpet Performance),
      he began his career as an administrator, helping set up CRM, Accounting Software, and other apps that were
      used to help streamline business operations. Upon finishing his Doctoral studies, he began his work in the
      non-profit sector. Today, with over a decade working with nonprofits and almost two decades working with
      for profits, Evan brings a unique perspective to the table.
    </p>
    <p>
      Evan has experience in marketing, grant writing, event management, accounting software management and
      implementation, CRM management and implementation, website management, and public speaking. He has supervised
      successful internships in business management of over a dozen college students, and he has taught principles
      of grant writing on multiple occasions. He also maintains an active music studio where he teaches brass
      students of all ages and talent levels.
    </p>
    <p>
      In his free time, he loves spending time with his wife and their young son. From hikes with the family to
      occasional indulgences with different Star Trek Movies and TV Shows (such as TNG and DS9), he also is busy
      training his son to be a connoisseur of football, baseball, hockey, soccer, and basketball.
    </p>
  </div>
{% endblock content %}
