{% extends 'enterprises/base.html' %}
{% load static %}

{% block title %}About Evan{% endblock title %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/about.css' %}" type="text/css" />
{% endblock %}

{% block content %}
  <div class="block">
    <div class="block-box img-highlight">
      <img src="{% static 'img/placeholder.jpg' %}" alt="This is a placeholder. Something else should go here soon.">
    </div>
    <div class="block-box text-highlight">
      <div class="highlight">
        <h1>Evan Duke</h1>
        <h3>Independent Business and Non-Profit Consultant</h3>
        <h3>Owner and President of Evan Duke Enterprises</h3>
      </div>
    </div>

  </div>

  <div class="paragraph">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Feugiat nibh sed pulvinar proin. Gravida dictum fusce ut placerat orci nulla pellentesque dignissim. Dolor purus non enim praesent elementum facilisis. In est ante in nibh mauris cursus mattis. Libero volutpat sed cras ornare. Malesuada pellentesque elit eget gravida cum. A iaculis at erat pellentesque adipiscing commodo. Vestibulum lorem sed risus ultricies tristique. In hendrerit gravida rutrum quisque non tellus. Amet justo donec enim diam vulputate ut pharetra. Integer vitae justo eget magna fermentum iaculis eu non diam. Pharetra sit amet aliquam id diam maecenas ultricies mi. Mauris cursus mattis molestie a iaculis at. Ut venenatis tellus in metus vulputate eu scelerisque felis. Duis ultricies lacus sed turpis tincidunt id.
    </p>
    <p>
      Non odio euismod lacinia at quis risus. Mattis enim ut tellus elementum sagittis vitae. Tincidunt ornare massa eget egestas purus viverra. Tellus molestie nunc non blandit massa enim nec. Vulputate ut pharetra sit amet aliquam id diam maecenas. Adipiscing elit ut aliquam purus sit. Lorem mollis aliquam ut porttitor leo a diam sollicitudin tempor. Cras fermentum odio eu feugiat pretium nibh ipsum. Pharetra vel turpis nunc eget lorem dolor. Viverra tellus in hac habitasse platea dictumst vestibulum rhoncus est.
    </p>
    <p>
      A pellentesque sit amet porttitor eget dolor morbi. Platea dictumst quisque sagittis purus sit amet volutpat consequat. Vitae congue eu consequat ac felis donec. Etiam sit amet nisl purus in mollis nunc sed. Nec dui nunc mattis enim ut tellus. Eu nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Urna porttitor rhoncus dolor purus. Ultrices vitae auctor eu augue ut. Euismod quis viverra nibh cras pulvinar mattis nunc. Ac ut consequat semper viverra nam. Facilisi nullam vehicula ipsum a arcu cursus vitae. In nibh mauris cursus mattis molestie a. Mi quis hendrerit dolor magna eget est. Tincidunt ornare massa eget egestas purus viverra accumsan in nisl. Purus in massa tempor nec feugiat nisl pretium. Diam sollicitudin tempor id eu nisl nunc. Et ligula ullamcorper malesuada proin. Feugiat in fermentum posuere urna nec tincidunt praesent semper. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed.
    </p>
  </div>
{% endblock content %}
