{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="google-site-verification" content="Ybkxi4hGfdHNDSvqAZehsbF5joaR13oTzUYcqTPOR0Y" />
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="Evan, Duke, Trumpet, lessons, French Horn, Beginning Brass, audition, Greenville, SC, South Carolina, Online lessons" />
    <meta name="description" content="Evan Duke music studio, Greenville, SC, provides private brass instruction to students of all ages and aims for the full development of the student's musical potential." />

    <title>{% block title %}Evan Duke Enterprises{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css" />

    <script type="text/javascript">
      window.onload = function() {
        let hamburger = document.getElementById('hamburger');
        let menu = document.getElementById('menu');

        hamburger.addEventListener('click', function(){
          menu.classList.toggle('open');
          hamburger.innerHTML = menu.classList.contains('open') ? '&#10005;' : '&#9776;';
        });
      };
    </script>
  </head>
  <body>
    <header>
      <nav>
        <div id="navbar">
          <a href="{% url 'index' %}" id="logo"><img src="{% static 'img/ede-logo-1.png' %}" alt="Evan Duke Enterprises Home"></a>
          <a href="javascript:void(0);" id="hamburger">&#9776;</a>
        </div>

        <ul id="menu">
          <li class="dropdown">
            <a href="#">Resources</a>
            <div class="dropdown-content">
              <a href="#">For&#8209;Profits</a>
              <a href="#">Nonprofits</a>
            </div>
          </li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}
    {% endblock content %}

      <!-- BEGIN: FOOTER -->
      <div id="ja-footerwrap">
        <div id="ja-footer" class="clearfix">
          <div>
            <div align="center">Site by <a href="{% url 'index' %}" target="_blank">Evan Duke Enterprises</a>. &copy; 2023. All rights reserved.<br /></div>
          </div>
        </div>
      </div>
      <!-- END: FOOTER -->
    </div>
  </body>
</html>
