{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="google-site-verification" content="Ybkxi4hGfdHNDSvqAZehsbF5joaR13oTzUYcqTPOR0Y" />
    <meta charset="UTF-8">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="Evan, Duke, Trumpet, lessons, French Horn, Beginning Brass, audition, Greenville, SC, South Carolina, Online lessons" />
    <meta name="description" content="Evan Duke music studio, Greenville, SC, provides private brass instruction to students of all ages and aims for the full development of the student's musical potential." />

    <title>{% block title %}Evan Duke Enterprises{% endblock %}</title>

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/template.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/background-style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/element-style.css' %}" type="text/css" />

    <script type="text/javascript">
      window.onload = function() {
        let hamburger = document.getElementById('hamburger');
        let nav = document.getElementById('navbar').getElementsByTagName('ul')[0];

        hamburger.addEventListener('click', function(){
          if (nav.style.display === 'none') {
            nav.style.display = 'block';
          } else {
            nav.style.display = 'none';
          }
        });
      };

    </script>

    <!--[if gte IE 7.0]>
    <style type="text/css">
      .clearfix {display: inline-block;}
    </style>
    <![endif]-->
    <style type="text/css">
      #ja-header,#ja-mainnav,#ja-container,#ja-botsl,#ja-footer {width: 600px;margin: 0 auto;}
      #ja-wrapper {min-width: 601px;}
    </style>
  </head>
  <body>
    <header>
      <nav id="navbar">
        <a href="{% url 'index' %}" id="logo"><img src="{% static 'img/ede-logo-1.png' %}" alt="Evan Duke Enterprises Home"></a>
        <a href="javascript:void(0);" id="hamburger">&#9776;</a>
        <ul>
          <li class="dropdown">
            <a href="#">Resources</a>
            <div class="dropdown-content">
              <a href="#">For Nonprofits</a>
              <a href="#">For Businesses</a>
            </div>
          </li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </nav>
    </header>


    <a name="Top" id="Top"></a>
    <div id="ja-wrapper">
      <!-- BEGIN: HEADER -->
      <div id="ja-headerwrap">
        {% block headerimage %}
        <div id="ja-header" class="clearfix" style="background: url({% static 'img/h1.jpg' %}) no-repeat top right;">
        {% endblock headerimage %}
          <div class="logo-text">
            <a href="{% url 'index' %}" title="Evan Duke Enterprises"><span>EVAN DUKE</span></a>
          </div>
        </div>
      </div>
      <!-- END: HEADER -->
      <!-- BEGIN: MAIN NAVIGATION -->
      <!-- END: MAIN NAVIGATION -->
      <div id="ja-containerwrap-fr">
        <div id="ja-containerwrap2">
          <div id="ja-container">
            <div id="ja-container2" class="clearfix">
              <div id="ja-mainbody-fr" class="clearfix">
                <!-- BEGIN: CONTENT -->
                {% block content %}
                {% endblock content %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- BEGIN: FOOTER -->
      <div id="ja-footerwrap">
        <div id="ja-footer" class="clearfix">
          <div>
            <div align="center">Site by <a href="{% url 'index' %}" target="_blank">Evan Duke Enterprises</a>. &copy; 2023. All rights reserved.<br /></div>
          </div>
        </div>
      </div>
      <!-- END: FOOTER -->
    </div>
  </body>
</html>
