{% extends 'enterprises/base.html' %}
{% load static %}

{% block title %}Business Consultations{% endblock title %}

{% block headerimage %}
    <div id="ja-header" class="clearfix" style="background: url({% static 'img/h4.jpg' %}) no-repeat top right;">
{% endblock headerimage %}

{% block content %}
<div id="ja-contentwrap">
  <div id="ja-content">
    <div class="componentheading">
      Business Consultations
    </div>
    <table class="blog" cellpadding="0" cellspacing="0">
      <tr>
        <td valign="top">
          <div>
            <div class="contentpaneopen">
              <h2 class="contentheading">
                Business Consultations
              </h2>
              <div class="article-content">
                <p>Running a business is a challenge. Trying to build a nonprofit that is thriving in meeting both its mission as well as its budget can be daunting.</p>
                <p>Evan has two decades of administrative experience in the for profit sector, as well as over a decade in the non profit arena. From day to day operations to assisting with helping you get the systems/operations set up that you need, it is his goal to help your business succeed.  Simply let him get everything set up the way that you need things to function and enjoy the fruits of your labor.</p>
                <p> </p>
                <p><strong>Services Offered:</strong></p>
                <p>CRM discussions/implementation</p>
                <p>Accounting Software <span style="font-size: 12.16px;">discussions/implementation</span></p>
                <p><span style="font-size: 12.16px;">Marketing Plan </span><span style="font-size: 12.16px;">discussions/implementation</span></p>
                <p><span style="font-size: 12.16px;">Masterplan </span><span style="font-size: 12.16px;">discussions/implementation</span></p>
                <p><span style="font-size: 12.16px;">Board of Directors development </span><span style="font-size: 12.16px;">discussions/implementation</span></p>
                <p> </p>
                <p><span style="font-size: 12.16px;">Each consultation begins with a session that will enable us to get a grasp of what your organization needs in order to succeed. The fee for this session is $100, and then each project will be billed an hourly rate of $50.</span></p>
                <p><span style="font-size: 12.16px;"><br /></span></p>
              </div>
              <span class="modifydate">
              Last Updated on Friday, 09 September 2022 17:10	</span>
            </div>
            <span class="article_separator">&nbsp;</span>
          </div>
        </td>
      </tr>
      <tr>
        <td valign="top" align="center">
          <br /><br />
        </td>
      </tr>
      <tr>
        <td valign="top" align="center">
        </td>
      </tr>
    </table>
  </div>
</div>
{% endblock content %}
