{% extends 'enterprises/base.html' %}
{% load static %}

{% block title %}Evan Duke{% endblock title %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/thank-you.css' %}" type="text/css" />
{% endblock %}

{% block content %}
  <div class="block">
    <div class="block-box text-highlight">
      <div class="highlight">
        <h1>Reach Out</h1>
        <h3>Want to know if I can help?</h3>
      </div>
    </div>
    <div class="block-box img-highlight">
      <img src="{% static 'img/headshot.jpg' %}" alt="Evan Duke's headshot.">
    </div>
  </div>

  <div class="thanks">
    <div class="header">
      <h2>Thanks for reaching out!</h2>
      <p>I'll get back with you soon.</p>
    </div>

    <h3>Your details:</h3>
    {% if submission.name %}
      <p class="submission-data"><span class="label">Name:&nbsp;</span>{{ submission.name }}</p>
    {% endif %}
    <p class="submission-data"><span class="label">Email:&nbsp;</span>{{ submission.reply_email }}</p>
    <p class="submission-data"><span class="label">Text:&nbsp;</span>{{ submission.submission }}</p>
  </div>


{% endblock content %}
