{% extends 'enterprises/base.html' %}
{% load static %}

{% block title %}Evan Duke Enterprises{% endblock title %}

{% block extra-style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" />
{% endblock %}

{% block content %}
  <div class="block">
    <div class="block-box text-highlight">
      <div class="highlight first">
        <h1>Are You Satisfied</h1>
        <h3>with your business operations?</h3>
      </div>
    </div>
    <div class="img-highlight">
      <img id="front-page" src="{% static 'img/consultation.jpg' %}" alt="Evan training a client on a streamlined process.">
    </div>
  </div>

  <div class="block">
    <div class="block-box text-highlight">
      <div class="highlight">
        <h2>Cut Your Technology Costs</h2>
        <h3>by making your tech work for you, not the other way around</h3>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="block-box text-highlight">
      <div class="highlight">
        <h2>Scale Your Business</h2>
        <h3>and don't let yesterday hold you back from tomorrow</h3>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="block-box text-highlight">
      <div class="highlight">
        <h2>With almost 2 decades of experience</h2>
        <p>
          in both nonprofit and for profit industries, Evan Duke is here to help you find management solutions for you.
          The name of the game is to find the most efficient way to operate your business.
        </p>
        <h3>Set up a consultation today</h3>
        <p>
          and we will see what changes we can bring to the table. We might be able to help you find a way to do things
          more efficiently on your own, or we might be able to offer you Fractional Management Solutions that will</p>
        <h3>free you up to do what you do best.</h3>
      </div>
    </div>
  </div>

{% endblock content %}
