{% extends 'enterprises/base.html' %}
{% load static %}

{% block title %}Evan Duke Enterprises{% endblock title %}

{% block content %}
  <div class="block">
    <div class="block-box">
      <div class="highlight">
        <h1>Are You Satisfied</h1>
        <h3>with your business costs?</h3>
      </div>
    </div>
    <div class="block-box">
      <img src="{% static 'img/placeholder.jpg' %}" alt="This is a placeholder. Something else should go here soon.">
    </div>
  </div>

  <div class="block">
    <div class="block-box">
      <img src="{% static 'img/placeholder.jpg' %}" alt="This is a placeholder. Something else should go here soon.">
    </div>
    <div class="block-box">
      <div class="highlight">
        <h2>Cut Your Technology Costs</h2>
        <h3>by making your tech work for you, not the other way around</h3>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="block-box">
      <div class="highlight">
        <h2>Scale Your Business</h2>
        <h3>and don't let yesterday hold you back from tomorrow</h3>
      </div>
    </div>
    <div class="block-box">
      <img src="{% static 'img/placeholder.jpg' %}" alt="This is a placeholder. Something else should go here soon.">
    </div>
  </div>

{% endblock content %}
