{% extends 'base.html' %}

{% block title %}Evan Duke{% endblock title %}

{% block headerimage %}
    <div id="ja-header" class="clearfix" style="background: url({{ url_for('static', filename='img/h4.jpg') }}) no-repeat top right;">
{% endblock headerimage %}

{% block content %}
<div id="ja-contentwrap">
  <div id="ja-content">
    <div id="component-contact">
      <table width="100%" cellpadding="0" cellspacing="0" border="0" class="contentpaneopen">
        <tr>
          <td width="100%" class="contentheading">
            Evan Duke
          </td>
        </tr>
        <tr>
          <td>
            <table border="0" width="100%">
              <tr>
                <td></td>
                <td rowspan="2" align="right" valign="top">
                </td>
              </tr>
              <tr>
                <td>
                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td rowspan="6" valign="top" width="0" >
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        3110 Wade Hampton Blvd. Suite 4
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        Taylors
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        SC
                      </td>
                    </tr>
                    <tr>
                      <td valign="top">
                        29687
                      </td>
                    </tr>
                  </table>
                  <br />
                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td width="0" >
                      </td>
                      <td>
                        864-735-7613
                      </td>
                    </tr>
                  </table>
                  <br />
                  <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td width="0"></td>
                      <td><a href="mailto:trumpeter@evanduke.com">Email Evan</a></td>
                    </tr>
                  </table>
                  <br />
                </td>
              </tr>
            </table>
          </td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td></td>
        </tr>
        <tr>
          <td colspan="2">
            <br /><br />
            <br />
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
